@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Redoak.Backoffice
@using Redoak.Domain.Model.ViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer R;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @R["SystemTitle"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/jquery-comfirm/dist/jquery-confirm.min.css" />
        <link rel="stylesheet" href="~/css/loading.mask.css" />
        <link rel="icon" type="image/png" href="~/Redoka-Logo.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">*@
        <link rel="stylesheet" href="~/lib/Guriddo_jqGrid_JS_5.3.1/css/ui.jqgrid-bootstrap4.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css"
              asp-fallback-href="~/lib/jquery-comfirm/dist/jquery-confirm.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/loading.mask.css" />
        <link rel="icon" type="image/png" href="~/Redoka-Logo.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">*@
        <link rel="stylesheet" href="~/lib/Guriddo_jqGrid_JS_5.3.1/css/ui.jqgrid-bootstrap4.css" />
    </environment>
</head>
<body>

    @await Html.PartialAsync("_MenuView")
    @await Html.PartialAsync("_Breadcrumb")

    <div class="container body-content redoak-container">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; 2018 - 紅橡國際農產</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/ecmascript" src="~/lib/Guriddo_jqGrid_JS_5.3.1/js/i18n/grid.locale-en.js" s></script>
        <script type="text/ecmascript" src="~/lib/Guriddo_jqGrid_JS_5.3.1/js/jquery.jqGrid.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax-master/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-comfirm/dist/jquery-confirm.min.js"></script>
        <script src="~/lib/jquery-blockUI/jquery.blockUI.js"></script>
        <script src="~/js/common.js" asp-append-version="true"></script>
        <script src="~/js/jquery-extension.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"
                crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script type="text/ecmascript" src="~/lib/Guriddo_jqGrid_JS_5.3.1/js/i18n/grid.locale-en.js" s></script>
        <script type="text/ecmascript" src="~/lib/Guriddo_jqGrid_JS_5.3.1/js/jquery.jqGrid.min.js"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax-master/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-comfirm/dist/jquery-confirm.min.js"></script>
        <script src="~/lib/jquery-blockUI/jquery.blockUI.js"></script>
        <script src="~/js/redoak.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
                crossorigin="anonymous"></script>
    </environment>
    @RenderSection("Scripts", false)

</body>
</html>