@using Microsoft.AspNetCore.Identity
@using Redoak.Domain.Model.ViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 紅橡國際農產-管理系統</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/jquery-comfirm/dist/jquery-confirm.min.css" />
        <link rel="stylesheet" href="~/css/loading.mask.css" />
        <link rel="icon" type="image/png" href="~/Redoka-Logo.png" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-comfirm/dist/jquery-confirm.min.css" />
        <link rel="icon" type="image/png" href="~/Redoka-Logo.png" />
    </environment>
</head>
<body>
    @await Html.PartialAsync("_MenuView")
    @await Html.PartialAsync("_Breadcrumb")

    <div class="container body-content redoak-container">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; 2018 - 紅橡國際農產</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax-master/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-comfirm/dist/jquery-confirm.min.js"></script>
        <script src="~/lib/jquery-blockUI/jquery.blockUI.js"></script>
        <script src="~/js/common.js" asp-append-version="true"></script>
        <script src="~/js/jquery-extension.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax-master/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-comfirm/dist/jquery-confirm.min.js"></script>
        <script src="~/lib/jquery-blockUI/jquery.blockUI.js"></script>
        <script src="~/js/redoak.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", false)

</body>
</html>