@using Microsoft.AspNetCore.Identity
@using Redoak.Domain.Model.ViewModel
@{
    Layout = null;
}

@inject SignInManager<ApplicationUser> SignInManager;

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-brand-logo">
        <img src="~/Redoka-Logo.png" class="img-fluid" />
    </div>

    <a class="navbar-brand" asp-action="Index" asp-controller="Home">紅橡國際農產-管理系統</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            @* 訂單模組 *@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navOrderModule"
                   role="button" data-toggle="dropdown"
                   aria-expanded="false"
                   aria-haspopup="true">
                    訂單模組
                </a>
                <div class="dropdown-menu" aria-labelledby="navOrderModule">
                    <a asp-area="System"
                       asp-controller="PersonalProfile"
                       asp-action="Index"
                       class="dropdown-item">訂單管理</a>
                    <a asp-area="" asp-controller="UserManage" asp-action="UserRole" class="dropdown-item">訂單查詢</a>
                </div>
            </li>
            @* 進銷模組 *@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navStockModule"
                   role="button" data-toggle="dropdown"
                   aria-expanded="false"
                   aria-haspopup="true">
                    進銷模組
                </a>
                <div class="dropdown-menu" aria-labelledby="navSystemModule">
                    <a asp-area="Stock"
                       asp-controller="PersonalProfile"
                       asp-action="Index"
                       class="dropdown-item">進貨管理</a>
                    <a asp-area="Stock" asp-controller="UserManage" asp-action="UserRole" class="dropdown-item">銷貨管理</a>
                    <a asp-area="Stock" asp-controller="QuotationManage" asp-action="Regist" class="dropdown-item">報價管理</a>
                    <a asp-area="Stock" asp-controller="StockManage" asp-action="Index" class="dropdown-item">商品管理</a>
                </div>
            </li>
            @* 報表模組 *@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navReportModule"
                   role="button" data-toggle="dropdown"
                   aria-expanded="false"
                   aria-haspopup="true">
                    報表模組
                </a>
                <div class="dropdown-menu" aria-labelledby="navSystemModule">
                    <a asp-area="System"
                       asp-controller="PersonalProfile"
                       asp-action="Index"
                       class="dropdown-item">個人資料管理</a>
                    <a asp-area="" asp-controller="UserManage" asp-action="UserRole" class="dropdown-item">訂單報表查詢</a>
                    <a asp-area="" asp-controller="Account" asp-action="Regist" class="dropdown-item">進銷報表查詢</a>
                </div>
            </li>
            @* 系統模組 *@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navSystemModule"
                   role="button" data-toggle="dropdown"
                   aria-expanded="false"
                   aria-haspopup="true">
                    系統模組
                </a>
                <div class="dropdown-menu" aria-labelledby="navSystemModule">
                    <a asp-area="System"
                       asp-controller="PersonalProfile"
                       asp-action="Index"
                       class="dropdown-item">個人資料管理</a>

                    <a asp-area="System"
                       asp-controller="UserRole"
                       asp-action="Index" class="dropdown-item">人員權限管理</a>

                    <a asp-area="System"
                       asp-controller="Account"
                       asp-action="Index"
                       class="dropdown-item">帳號註冊</a>
                </div>
            </li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>

</nav>
