@using Microsoft.AspNetCore.Identity
@using Redoak.Domain.Model.ViewModel
@{
    Layout = null;
}

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="pure-menu-list">
    @* 訂單模組 *@
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">訂單模組</a>
        <ul class="pure-menu-children">
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">訂單管理</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">訂單查詢</a>
            </li>
        </ul>
    </li>
    @* 進銷模組 *@
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">進銷模組</a>
        <ul class="pure-menu-children">
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">進貨管理</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">銷貨管理</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">報價管理</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">商品管理</a>
            </li>
        </ul>
    </li>
    @* 報表模組 *@
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">報表模組</a>
        <ul class="pure-menu-children">
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">訂單報表查詢</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">進銷報表查詢</a>
            </li>
        </ul>
    </li>
    @* 系統模組 *@
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">系統模組</a>
        <ul class="pure-menu-children">
            <li class="pure-menu-item">
                <a asp-area="System"
                   asp-controller="PersonalProfile"
                   asp-action="Index"
                   class="pure-menu-link">個人資料管理</a>
            </li>
            <li>
                <a asp-area="" asp-controller="UserManage" asp-action="UserRole" class="pure-menu-link">人員權限管理</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Regist" class="pure-menu-link">帳號註冊</a>
            </li>
        </ul>
    </li>
</ul>
    @await Html.PartialAsync("_LoginPartial")
}