
\.vs/Redoak-Backoffice/v15/\.suo

*.ide-wal

bin/Release/netcoreapp2\.0/Redoak\.Backoffice\.deps\.json

bin/Release/netcoreapp2\.0/Redoak\.Backoffice\.dll

bin/Release/netcoreapp2\.0/Redoak\.Backoffice\.pdb

bin/Release/netcoreapp2\.0/Redoak\.Backoffice\.runtimeconfig\.dev\.json

bin/Release/netcoreapp2\.0/Redoak\.Backoffice\.runtimeconfig\.json

bin/Release/netcoreapp2\.0/Redoak\.Core\.dll

bin/Release/netcoreapp2\.0/Redoak\.Core\.pdb

bin/Release/netcoreapp2\.0/Redoak\.Dal\.dll

bin/Release/netcoreapp2\.0/Redoak\.Dal\.pdb

bin/Release/netcoreapp2\.0/Redoak\.Domain\.dll

bin/Release/netcoreapp2\.0/Redoak\.Domain\.pdb

bin/Release/netcoreapp2\.0/Redoak\.Model\.dll

bin/Release/netcoreapp2\.0/Redoak\.Model\.pdb

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.csproj\.FileListAbsolute\.txt

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.csprojResolveAssemblyReference\.cache

obj/Release/netcoreapp2\.0/microsoft\.aspnetcore\.mvc\.razor\.viewcompilation\.rsp

obj/Release/netcoreapp2\.0/PubTmp/Out/Autofac\.Configuration\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Autofac\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Autofac\.Extensions\.DependencyInjection\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/dotnet-aspnet-codegenerator-design\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.CodeAnalysis\.CSharp\.Workspaces\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.CodeAnalysis\.Workspaces\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGeneration\.Contracts\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGeneration\.Core\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGeneration\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGeneration\.EntityFrameworkCore\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGeneration\.Templating\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGeneration\.Utils\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Microsoft\.VisualStudio\.Web\.CodeGenerators\.Mvc\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/NuGet\.Frameworks\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak-Backoffice\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak-Backoffice\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak-Backoffice\.PrecompiledViews\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak-Backoffice\.PrecompiledViews\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Backoffice\.deps\.json

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Backoffice\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Backoffice\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Backoffice\.PrecompiledViews\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Backoffice\.PrecompiledViews\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Backoffice\.runtimeconfig\.json

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Core\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Core\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Dal\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Dal\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Domain\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Domain\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Model\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak\.Model\.pdb

obj/Release/netcoreapp2\.0/PubTmp/Out/System\.Composition\.AttributedModel\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/System\.Composition\.Convention\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/System\.Composition\.Hosting\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/System\.Composition\.Runtime\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/System\.Composition\.TypedParts\.dll

obj/Release/netcoreapp2\.0/PubTmp/Out/web\.config

obj/Release/netcoreapp2\.0/PubTmp/Redoak\.Backoffice\.Parameters\.xml

obj/Release/netcoreapp2\.0/PubTmp/Redoak\.Backoffice\.SourceManifest\.xml

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.AssemblyInfo\.cs

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.AssemblyInfoInputs\.cache

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.csproj\.CopyComplete

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.csproj\.CoreCompileInputs\.cache

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.csproj\.FileListAbsolute\.txt

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.csprojResolveAssemblyReference\.cache

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.dll

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.pdb

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.PrecompiledViews\.dll

obj/Release/netcoreapp2\.0/Redoak\.Backoffice\.PrecompiledViews\.pdb

obj/Release/netcoreapp2\.0/UserSecretsAssemblyInfo\.cs

Redoak\.Backoffice\.csproj\.user

Properties/PublishProfiles/Redoak-Backoffice - Web Deploy\.pubxml\.user

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak-Backoffice\.deps\.json

obj/Release/netcoreapp2\.0/PubTmp/Out/Redoak-Backoffice\.runtimeconfig\.json

Properties/PublishProfiles/Redoak-Backoffice - Web Deploy\.pubxml

\.vs/Redoak-Backoffice/v15/Server/sqlite3/storage\.ide

\.vs/Redoak-Backoffice/v15/Server/sqlite3/storage\.ide-shm

\.vs/Redoak-Backoffice/xs/sqlite3/db\.lock

\.vs/Redoak-Backoffice/xs/sqlite3/storage\.ide

\.vs/Redoak-Backoffice/xs/sqlite3/storage\.ide-shm

bin/Debug/netcoreapp2\.0/Redoak\.Backoffice\.dll

bin/Debug/netcoreapp2\.0/Redoak\.Backoffice\.pdb

bin/Debug/netcoreapp2\.0/Redoak\.Backoffice\.runtimeconfig\.dev\.json

bin/Debug/netcoreapp2\.0/Redoak\.Backoffice\.runtimeconfig\.json

bin/Debug/netcoreapp2\.0/Redoak\.Core\.dll

bin/Debug/netcoreapp2\.0/Redoak\.Dal\.dll

bin/Debug/netcoreapp2\.0/Redoak\.Dal\.pdb

bin/Debug/netcoreapp2\.0/Redoak\.Domain\.dll

bin/Debug/netcoreapp2\.0/Redoak\.Domain\.pdb

bin/Debug/netcoreapp2\.0/Redoak\.Model\.dll

bin/Debug/netcoreapp2\.0/Redoak\.Model\.pdb

bin/Debug/netcoreapp2\.0/Redoak\.Backoffice\.deps\.json

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.AssemblyInfo\.cs

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.AssemblyInfoInputs\.cache

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.csproj\.CoreCompileInputs\.cache

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.dll

obj/Debug/netcoreapp2\.0/Redoak\.Backoffice\.pdb

obj/Debug/netcoreapp2\.0/UserSecretsAssemblyInfo\.cs

obj/project\.assets\.json

obj/Redoak\.Backoffice\.csproj\.nuget\.cache

obj/Redoak\.Backoffice\.csproj\.nuget\.g\.props

obj/Redoak\.Backoffice\.csproj\.nuget\.g\.targets
