
@{
    Layout = null;
}

<div id="ResultGrid"></div>
<script type="text/javascript">
    var Result = {
        ResultGrid: $('#ResultGrid'),
        ResultKendoGrid: {},
        DataSrc: {},
        Instance: function() {
            var instance = {}, that = this;
            instance.InitElement = function() {
                that.ResultGrid = $('#ResultGrid');
                that.DataSrc = new kendo.data.DataSource({
                    transport: {
                        read: {
                            //以下其實就是$.ajax的參數
                            type: "POST",
                            url: "@Url.Action("QueryData")",
                            dataType: "json",
                            data: Index.Instance().GetQueryData
                        }
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverSorting: true
                });
            };

            instance.Init = function() {
                that.Instance().InitElement();
                that.ResultGrid.kendoRedoakGrid({
                    dataSource: that.DataSrc,
                    columns: [
                        { hidden: true, field: 'id' },
                        { title: '客戶編號', field: 'id' },
                        { title: '客戶姓名', field: 'name' },
                        { title: '客戶盤口', field: 'region.name' },
                        {
                            title: '盤口更新日期',
                            field: 'updateDate',
                            template: "#: kendo.toString(kendo.parseDate(data.region.updateDate),'yyyy-MM-dd HH:mm:ss') #"
                        }
                    ],
                    dbClickCallBack: function (e) {
                        var id = $($(this).find('td').get(0)).text();
                        Edit.Instance().BindDataById(id);
                    }
                });
                that.ResultKendoGrid = that.ResultGrid.data('kendoRedoakGrid');
            };

            return instance;
        }
    };


    $(function() {
        Result.Instance().Init();
    });

</script>