@using Redoak.Backoffice.Areas.System.Models.PersonalProfile
@model Redoak.Backoffice.Areas.System.Models.PersonalProfile.ChangePasswordViewModel

<div class="row">
    <div class="col-md-6">
        <form asp-controller="PersonalProfile"
              asp-action="ChangePassword"
              asp-area="System"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-success="SaveCallBack"
              data-ajax-failure="SaveCallBackError">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">更新</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {

    });

    SaveCallBack = function (result) {
        Base.Success(null, result, true);
    }

    SaveCallBackError = function (event, jqxhr, settings, thrownError) {
    }

</script>