@using Redoak.Domain.Model.ViewModel
@using Microsoft.AspNetCore.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Module"] = "系統模組";
    ViewData["Title"] = "個人資料管理";
}

@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;


<div class="row">
    <div class="col-md-3">
        <ul class="nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="PersonalProfile" value="0">個人資料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="ChangePassword" value="1">密碼變更</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9" id="PersonalProfileDiv">
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(function() {
            $('#PersonalProfile,#ChangePassword').click(RenderPartial);
            $('#PersonalProfile').click();
        });

        RenderPartial = function () {
            $('#PersonalProfile,#ChangePassword').removeClass('active');

            $(this).addClass('active');

            var url = ['@Url.Action("PersonalProfile")', '@Url.Action("ChangePassword")'];
            Base.Get({
                url: url[parseInt($(this).attr('value'))],
                callback: function (html) {
                    $('#PersonalProfileDiv').html(html);
                }
            });
        }
    </script>
}