
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content pure-g nav-left">
    <div class="pure-u">
        <div class="nav-inner">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="#">個人資料維護</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#">人員資料維護</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>