@using Microsoft.AspNetCore.Identity
@using Redoak.Domain.Model.ViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*"active"*@
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="">
                <a asp-action="Index">個人資料</a>
            </li>
            <li class="">
                <a asp-action="ChangePassword">密碼變更</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        @await Html.PartialAsync("_PersonalProfile")
    </div>
</div>